.alert {
  padding: 10px;
  margin-bottom: $vertical-measure;
  color: #fff;
  background-color: #ccc;
}
  .success {
    background-color: $success;
  }
  .info {
    background-color: $info;
  }
  .warning {
    background-color: $warning;
  }
  .danger {
    background-color: $danger;
  }
