.alert {
  padding: 1em;
  margin-bottom: $vertical-measure;
  margin-top: $vertical-measure;
  color: #fff;
  background-color: $default;
  border-radius: 5px;             
  border: 1px solid darken($default, 10%);
}
  .success {
    border: 1px solid darken($success, 10%);
    background-color: $success;
  }
  .info {
    border: 1px solid darken($info, 10%);
    background-color: $info;
  }
  .warning {
    border: 1px solid darken($warning, 10%);
    background-color: $warning;
  }
  .danger {
    border: 1px solid darken($danger, 10%);
    background-color: $danger;
  }
