.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 5px;
  font-size: $small;
  font-weight: normal;
  line-height: $line-height;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  color: $black;
  &:hover, &:focus {
  color: $white;
  }
}
  .small {
    font-size: $small;
  }
  .med {
    font-size: $medium;
  }
  .lrg {
    font-size: $large;
  }
  .default {
    @include linear-gradient($default, darken($default, 30%));
    &:hover, &:focus {
     background: $default;
    }
  }
  .btn.success {
    @include linear-gradient($success, darken($success, 30%));
    &:hover, &:focus {
    background: $success;
   }
  }
  .btn.info {
    @include linear-gradient($info, darken($info, 30%));
    &:hover, &:focus {
    background: $info;
   }
  }
  .btn.warning {
    @include linear-gradient($warning, darken($warning, 30%));
    &:hover, &:focus {
    background: $warning;
   }
  }
  .btn.danger {
    @include linear-gradient($danger, darken($danger, 30%));
    &:hover, &:focus {
    background: $danger;
   }
  }
