.btn {
  display: inline-block;
  padding: 6px 25px;
  margin-bottom: 5px;
  font-size: $small;
  font-weight: normal;
  font-family: $nav-font-family;
  line-height: $line-height;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 8px;
  color: $white;
  background: $info;
  border: 2px solid darken($info, 10%);
  &:hover, &:focus {
  background: $white;
  border: 2px solid $info;
  color: $black;
  }
}
  .small {
    font-size: $small;
  }
  .med {
    font-size: $medium;
  }
  .lrg {
    font-size: $large;
  }
  .btn.success {
    border: 2px solid darken($success, 10%);
    background: $success;
    &:hover, &:focus {
    background: $white;
    border: 2px solid $success;
   }
  }
  .btn.warning {
    border: 2px solid darken($warning, 10%);
    background: $warning;
    &:hover, &:focus {
    background: $white;
    border: 2px solid $warning;
   }
  }
  .btn.danger {
    border: 2px solid darken($danger, 10%);
    background: $danger;
    &:hover, &:focus {
    background: $white;
    border: 2px solid $danger;
   }
  }
  .emboss {
    @include linear-gradient($info, darken($info, 15%));
    &:hover, &:focus {
    background: $info;
    }
  }
