.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 5px;
  font-size: $small;
  font-weight: normal;
  line-height: $line-height;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background: $default;
  border: 2px solid $default;
}
  .small {
    font-size: $small;
  }
  .med {
    font-size: $medium;
  }
  .lrg {
    font-size: $large;
  }
  .success {
    background-color: $success;
    border: 2px solid $success;
  }
  .info {
    background-color: $info;
    border: 2px solid $info;
  }
  .warning {
    background-color: $warning;
    border: 2px solid $warning;
  }
  .danger {
    background-color: $danger;
    border: 2px solid $danger;
  }

.btn.default {
 &:hover, &:focus {
  border: 2px solid $default;
  background-color: $white;
 }
}
.btn.success {
  &:hover, &:focus {
   border: 2px solid $success;
   background-color: $white;
 }
}
.btn.info {
  &:hover, &:focus {
   border: 2px solid $info;
   background-color: $white;
 }
}
.btn.warning {
  &:hover, &:focus {
   border: 2px solid $warning;
   background-color: $white;
 }
}
.btn.danger {
  &:hover, &:focus {
   border: 2px solid $danger;
   background-color: $white;
 }
}
