.form-group {
  margin-bottom: $vertical-measure / 2;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 12px rgba(46, 204, 113,.2);
  }
  50% {
    -webkit-box-shadow: 0 0 12px rgba(46, 204, 113,.9);
  }
  100% {
    -webkit-box-shadow: 0 0 12px rgba(46, 204, 113,.2);
  }
}


form.ninja input, form.ninja textarea {
  width: 100%;
  padding: $vertical-measure / 2;
  &:focus {
    border: 2px solid $info;
    border-left: 6px solid $info;
    border-radius: 8px;
    outline: none;
    background-color: $white;
    color: #383838;
  }
  border-left: 3px solid $info;
  border: none;
  background: none;
  border-left: 2px solid $info;
  color: #797979;
  box-sizing: border-box;
  margin-bottom: 2%;
}

form.standard input {
  width: 100%;
  padding: $vertical-measure / 2;
  border: 2px solid $info;
  border-left: 6px solid $info;
  border-radius: 8px;
  outline: none;
  background-color: $white;
  color: #383838;
  box-sizing: border-box;
  margin-bottom: 2%;
  &:focus {
    border: 2px solid $success;
    border-left: 6px solid $success;
    border-radius: 8px;
  }
}

