/* =================================================================================================
Global styles
================================================================================================= */


/* Global Styles Defined By Spencer - Start */
body {
  font-family: $font-family;
}

/* Global Styles Defined By Spencer - End */
// set up body and container padding/widths/etc ================================================== /
body { margin: 0; height: 100%; }
.container { max-width: $max-width; margin: 0 auto; padding: 0 .5em;} 
// do not use the row mixin for your container. the direct child selectors will bork everything
img {
  max-width: 100%; 
}

// declare non-grid-related styles for your elements ============================================= /
section div {
  padding: 1em 0;
}

a {
  text-decoration: none;
}

