.jumbotron {
  // background-color: #373737;
  border-bottom: 3px solid #55b1e8;
  text-align: center;
  background-image: url('../img/man_drawing.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position:relative;
  h1 {
    color: $white;
    padding-top: .3em;
    font-size: 3.5em;
  }
  h2 {
    color: $white;
    margin-top: -10px;
    font-family: 'Source Sans Pro', sans-serif;
  }
  a {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  p {
    color: $white;
  }

}
.callout {
  border-radius: 5px;
  background-color: #373737;
  margin-top: 2em;
  padding: 1em;
  height: 200px;
  img {
    display: block;
    margin: 0 auto;
  }
  h3 {
    color: $white;
    text-align: center;
    margin-top: 1.5em;
    letter-spacing: 2px;
  }
}

.sexy {
  color: $info;
}

