.nav {
  height: 50px;
  width: 100%;
  display: block;
  background-color: $nav;
  clear: both;
  padding: 0;
  margin: 0;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  ul li {
    display: inline-block;
    float: right;
    margin: 0 10px;
    border-left: 1px solid $default;
  }
  ul li a {
    color: white;
  }

}
